<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="d-flex">
          <%= text_field_tag :query,
          params[:query],
          class: "form-control string required",
          placeholder: "Find a movie or serie",
          id: "search_query"
          %>
          <%= submit_tag "Search", class: "btn btn-warning" %>
        </div>        
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% if !(@found.nil?) %>
    <h6><%= @found.count %> results</h6>
    <div class="row">
      <% @found.each do |movie| %>
        <%= link_to show_path(movie["imdbID"], query: params[:query])  do %>
          <div class="col-md-3 my-3">
            <div class="card">
              <%= image_tag movie["Poster"], class: "card-img-top imagen", crop: :fill %>
              <div class="card-body">
                <h4 class="card-title text-truncate"> <%= link_to movie["Title"], show_path(movie["imdbID"], query: params[:query]), class:"text-reset"%> </h4>
                <div class="d-flex justify-content-between">
                  <h5> <%= movie["Type"] %> </h5>
                  <h6> <%= movie["Year"] %> </h6>  
                </div>
              </div>
            </div> 
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>