<div class="container-fluid my-5">
  <% if !(@favorites.empty?) %>
    <h6>Find <%= @favorites.count %> favorites</h6>
    <div class="row">
      <% @favorites.each do |favorite| %>
          <div class="col-md-3 my-3">
            <div class="card">
              <%= image_tag favorite.poster, class: "card-img-top imagen", crop: :fill %>
              <div class="card-body">
                <h4 class="text-truncate"> <%= favorite.title %> </h4>
                  <h6> <%= favorite.year %> </h6>  
                <div class="d-flex justify-content-between">
                  <%= link_to "Remove favorite", movie_path(favorite.id), class: "text-reset", method: :patch %>
                  <% if favorite.favorite%>
                    <%= "â­" %>
                  <% end %>
                </div>
              </div>
            </div> 
          </div>
      <% end %>
    </div>
  <% end %>
</div>